h1 {
    color: aqua;
    font-size: 5em;
}

/* p {
    color: red;
    font-size: 3em;
} */

p, li {
    color: green;
}
li {
    list-style-type: square;
}

/* .special {
    color: orange;
    font-weight: bold;

} */

li.special,
span.special {
    color: orange;
}

h2 + p {
    color: blue;
}